#home {
    .banner {
        width: 100%;
        height: 60vh;
        background-size: cover;
        background-position-y: center;
    }
    .container {
        padding: 0;
        .card {
            height: 450px;
            width: 100%;
            margin: 0 -10vw;
            padding: 0 10vw;
            &.even {
                background: white;
            }
            &.odd {
                background: $light-bg;
            }
            .flex {
                position: relative;
                width: 100%;
                .images {
                    font-size: 0;
                    height: 350px;
                    width: 350px;
                    .image.image-long {
                        height: 46%;
                        width: 100%;
                        background-size: cover;
                        margin-bottom: 8%;
                    }
                    .image {
                        display: inline-block;
                        height: 46%;
                        width: 46%;
                        background-size: cover;
                        margin-right: 8%;
                    }
                }
                .content {
                    width: 50vw;
                    max-width: 800px;
                    button {
                        margin-top: 25px;
                    }
                }
            }
        }
    }
    // Responsive
    @media (max-width: 979px) {
        .container {
            .card {
                height: auto;
                .flex {
                    .images {
                        height: 100vw;
                        width: 100vw;
                        margin: 75px auto;
                    }
                    .content {
                        width: 100%;
                        margin: 75px 0;
                    }
                }
                &.even .content {
                    margin-bottom: 0;
                }
                &.odd .images {
                    margin-bottom: 0;
                }
            }
        }
    }
}