#services {
    h2 {
        margin-top: 25px;
    }
    .cards {
        font-size: 0;
        margin: 0 auto;
        width: auto;
        border-bottom: 1px solid $light-border;
        .card {
            @media(min-width: 980px) {
                &:nth-child(even) {
                    border-left: 1px solid $light-border;
                }
            }
            box-sizing: border-box;
            font-size: 1rem;
            display: inline-block;
            vertical-align: top;
            border-top: 1px solid $light-border;
            .card-content {
                text-align: left;
                position: relative;
                height: 675px;
                margin: 25px;
                .image {
                    height: 300px;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;
                }
                .footer {
                    position: absolute;
                    bottom: 0;
                    .price {
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    #booking {
        display: none;
        &.is-active {
            display: block;
        }
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        background: rgba(255, 255, 255, 0.9);
        .booking-card {
            position: fixed;
            width: 70vw;
            height: 90vh;
            left: 50vw;
            top: 50vh;
            margin-left: -35vw;
            margin-top: -45vh;
            box-sizing: border-box;
            padding: 25px 75px;
            overflow: scroll;
            border: $light-border solid 1px;
            background: white;
            #service-title {
                font-weight: 300;
                font-size: 1.2rem;
                margin: 10px 0 75px 3px;
            }
            #service-booking-close {
                position: fixed;
                margin-top: 7px;
                right: 16vw;
            }
            .hamburger.is-active .hamburger-inner,
            .hamburger.is-active .hamburger-inner::before,
            .hamburger.is-active .hamburger-inner::after {
                background-color: $dark-border;
            }
            form {
                .loader {
                    margin: 0;
                    margin-left: 10px;
                    margin-bottom: -5px;
                }
            }
        }
    }
    .section-footer {
        font-weight: 300;
        font-size: 1.2rem;
        button {
            margin-top: 1.5rem;
        }
    }
    // Responsive
    @media (max-width: 1023px) {
        #booking .booking-card {
            height: 100vh;
            width: 100vw;
            margin: 0;
            top: 0;
            left: 0;
            #service-booking-close {
                right: 25px;
            }
        }
    }
    @media (max-width: 979px) {
        .cards .card .card-content {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @media (max-width: 767px) {
        .cards .card {
            .card-content {
                height: 850px;
                .image {
                    height: 250px;
                }
            }
        }
    }
    @media (max-width: 500px) {
        #booking .booking-card #service-title {
            margin-bottom: 50px;
        }
        .booking-card {
            padding-left: 50px !important;
            padding-right: 75px !important;
        }
    }
}