#trends {
  margin-bottom: 12vh;
  width: 100%;
}

#prompt {
  width: 40vw;
  margin: 10px 10px 10px 0px;
}

#generated_image_container {
  position: relative;
  height: 48vh;
  width: 52vw;
  background-color: white;
  border: 1px solid black;
}

#generated_gallery_container {
  position: relative;
  height: 5vw;
  width: 52vw;
  background-color: white;
  border: 1px solid black;
  margin-top: 2vh;
}

#generated_gallery {
  display: flex;
  justify-content: center;
  height: 5vw;
}

.gallery_image {
  position: relative;
  cursor: pointer;
}

.contain-aspect {
  object-fit: contain;
}

#progress_bar,
#progress_bar_gallery {
  width: 0%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.5);
}

#progress_status {
  position: absolute;
  padding-left: 1vw;
  padding-top: 2vh;
}

#main_buttons {
  display: inline-flex;
  width: 52vw;
}
.generate_button {
  margin: 0px 0px 10px 20px;
}
#examples {
  margin-top: 15px;
}
.example-button {
  margin: 10px 10px 0px 0px;
}
// Responsive
@media (max-width: 979px) {

  #generated_image_container {
    height: 38vh;
    width: 90vw;
  }
  
  #generated_gallery_container {
    height: 12vw;
    width: 90vw;
  }

  #generated_gallery {
    height: 12vw;
    width: 90vw;
  }

  #prompt {
    width: 90vw;
  }

  #main_buttons {
    display: block;
    width: 90vw;
  }

  .generate_button {
    width: 35vw;
  }

  #progress_status {
    padding-left: 4vw;
    padding-top: 2vw;
  }
}
