#trends {
  margin-bottom: 30px;
  height: 900px;
  width: 100%;
  #prompt {
    width: 40%;
    margin-bottom: 20px;
  }
  #generated_image {
    height: 448px;
    width: 986px;
    background-color: white;
    border: 1px solid black;
  }
  #examples {
    margin-top: 15px;
  }
  .example-button {
    margin: 10px 10px 0px 0px;
  }
}
// Responsive
@media (max-width: 979px) {
  #trends {
    #generated_image {
      height: 38vh;
      width: 87vw;
      background-color: white;
      border: 1px solid black;
    }
  }
}
