#trends {
  margin-bottom: 30px;
  height: 900px;
  width: 100%;
  #prompt {
    width: 40%;
    margin: 10px 10px 10px 0px;
  }
  #generated_image {
    position: relative;
    height: 448px;
    width: 986px;
    background-color: white;
    border: 1px solid black;
  }
  
  #progress_bar {
    width: 75%;
    height: 448px;
    background-color: rgba(211, 211, 211, 0.5);
  }

  #progress_status {
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
  }

  #main_buttons{
    display: inline-flex;
    width: 986px;
  }
  .generate_button{
    margin: 0px 0px 10px 20px;
  }
  #examples {
    margin-top: 15px;
  }
  .example-button {
    margin: 10px 10px 0px 0px;
  }


}
// Responsive
@media (max-width: 979px) {
  #trends {
    #generated_image {
      height: 38vh;
      width: 87vw;
      background-color: white;
      border: 1px solid black;
    }
  }
}
