version: "3"
services:
  hugo:
    build:
      context: .
      dockerfile: docker/dockerfile-hugo
    ports:
      - "1313:1313"
    volumes:
       - ./:/code
    working_dir: /code
    command: hugo server --bind=0.0.0.0 --baseURL=http://0.0.0.0:1313 -s src
