{{ partial "header.html" . }}
<div id="services">
    <!--  <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('rent')">Testing ICT</button>
        <button class="btn" onclick="filterSelection('')">Agile Development</button>
        <button class="btn" onclick="filterSelection('fruits')">Open Strategy</button>
        <button class="btn" onclick="filterSelection('colors')">Devs Community</button>
    </div>
-->
    <div class="container">
        <div class="cards">
            {{ range .Pages }}
            <div class="card desktop-half">
                <div class="card-content">
                    <div class="image" style="background-image: url('/services/{{ .Params.Image }}')" onclick="window.location='{{ .Permalink }}'"></div>
                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                    <div class="content">
                        {{ .Summary }}
                    </div>
                    <div class="footer">
                        {{ if (isset .Params "buttonlabel") }} {{ if (isset .Params "buttonlink") }}
                        <button> 
                            <a target="_blank" href="{{ .Params.ButtonLink }}">{{ .Params.ButtonLabel }}</a>
                        </button> {{ else }}
                        <button class="book" data-title="{{ .Title }}">{{  .Params.ButtonLabel }}</button> {{ end }} {{ else }}
                        <button class="book" data-title="{{ .Title }}">{{ T "book" }}</button> {{ end }}
                        <div class="price">{{ .Params.Price }} {{ if .Params.labbonus }} (<a href="https://noi.bz.it/en/services/labs/lab-bonus" target="_blank"><u>Lab-bonus</u></a> available) {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <div id="booking" class="">
            <div class="booking-card contact">
                <div id="service-booking-close" class="hamburger hamburger--squeeze is-active">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
                <h1>{{ T "book_service" }}</h1>
                <p id="service-title">Selected Course</p>
                {{ partial "services_book.html" . }}
            </div>
        </div>
        <div class="section-footer ">
            <!-- <div>Is one of this services your expertise?</div>
            <button id"apply">Become a partner</button> -->
        </div>
        <div id="application" class="">
            <!-- <div class="booking-card">
                <div id="application-booking-close" class="hamburger hamburger--squeeze is-active">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
                <h1>BECOME A PARTNER</h1>
                {{ partialCached "services_book.html" . }}
            </div> -->
        </div>
    </div>
    {{ partialCached "footer.html" . }}
</div>