footer {
    height: 60vh;
    margin: 0;
    padding: 0;
    background-color: $dark-bg;
    background-image: url('../footer-pattern.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: white;
    font-size: 0;
    a {
        color: white;
    }
    .desktop-half {
        height: 60vh;
    }
    .content {
        position: relative;
        padding: 50px 0;
        padding-right: 100px;
        font-size: 18px;
        b {
            font-weight: 600;
        }
        .light {
            font-weight: 300;
        }
        .flex {
            align-items: baseline;
            &>div {
                margin-top: 25px;
            }
        }
        .menu {
            position: absolute;
            bottom: 25px;
            margin-left: -10px;
            background: transparent;
        }
        .menu-horizontal {
            background: transparent;
            a {
                color: white;
                text-transform: none;
                &::before {
                    background-color: white;
                }
                &:hover {
                    &:hover {
                        text-shadow: 0 0 0.01px white;
                    }
                }
            }
        }
    }
    // Responsive
    @media (max-width: 1199px) {
        .content {
            padding: 25px;
            padding-left: 0;
        }
    }
    @media (max-width: 1023px) {
        height: 560px;
        .desktop-half {
            height: 300px;
        }
        .map {
            height: 240px;
            width: 100%;
            padding-bottom: 25px;
        }
    }
    @media (max-width: 500px) {
        height: 800px;
        .desktop-half {
            height: 520px;
        }
        .map {
            height: 240px;
        }
    }
}

.alert {
    color: #2e3131;
    background-color: white;
    max-width: 580px;
    width: 50vw;
    color: #2e3131 !important;
    padding: 30px;
}

.alert .de,
.alert .it {
    display: block !important;
}

.alert-cookie {
    position: fixed;
    border: solid 1px black;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: 9999;
    @media screen and (max-width: 768px) {
        width: auto;
        left: 0;
    }
}

.alert-cookie p {
    margin-bottom: 10px;
}

.alert-cookie .button {
    margin-top: 20px;
    color: #2e3131;
    clear: both;
    display: block;
    padding: 10px 20px;
    border: 1px solid #2e3131;
    width: fit-content;
    width: -moz-fit-content;
}

.alert-cookie:hover {
    color: #2e3131;
    cursor: pointer;
}

.alert-cookie .negative {
    border: 1px solid var(--color-background);
    color: var(--color-background);
    &:hover {
        background: var(--color-background);
        color: var(--color-primary);
    }
}