{{ partial "global-header.html" . }}

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <div class="container">
    <!--<div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{{ .form.name }}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{{ .form.email }}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{{ .form.subject }}">
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <form>
            <div class="form-group-2">
              <textarea class="form-control" rows="3" placeholder="{{ .form.message }}"></textarea>
            </div>
            <button class="btn btn-default" type="submit">{{ .form.button }}</button>
          </form>
        </div>
      </div>
    </div>-->
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>{{ .box.address }}
            </li>
            <li>
              <i class="fa fa-envelope-o"></i>{{ .box.email }}
            </li>
            <li>
              <i class="fa fa-phone"></i>{{ .box.phone }}
            </li>
          </ul>
          <ul class="social-icons">
          {{ range .social }}  
            <li>
              <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            </li>
          {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        {{ with .gmaps}}
        <div class="block">
          <h2>{{ .title }}</h2>
            <div class="google-map">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=11.327505111694338%2C46.47722879361016%2C11.33616864681244%2C46.48056821891518&amp;layer=mapnik&amp;marker=46.47889853188157%2C11.331836879253387" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=46.47890&amp;mlon=11.33184#map=18/46.47890/11.33184">Visualizza mappa ingrandita</a></small><!--
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.469963840938!2d11.332742078135416!3d46.479005863882996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47829c34410cbd5b%3A0x65f19ec400fde7e2!2sNOI+Techpark+S%C3%BCdtirol+%2F+Alto+Adige!5e0!3m2!1sit!2sit!4v1548176043165" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
            </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
