<!-- Wrapper Start -->
<section id="intro">
    <div class="container">
        <!-- Intro -->
        <div class="row">
            <div class="section-title" style="text-align: center">

                <h2>{{ .Site.Data.service.title }}</h2>
                <p>{{ .Site.Data.service.subtitle }}</p>

            </div>
        </div>
        {{ range .Site.Data.service.content }}
        <hr/>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="block">
                    <img src="{{ $.Site.BaseURL }}/img/{{ .image }}" alt="Img">
                </div>
            </div>
            <!-- .col-md-5 close -->
            <div class="col-md-8 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>{{ .name }}</h2>
                    </div>
                    <p>{{ .text }}</p>
                    <p>
                        {{ if .need }}
                        <b>What you need:</b> {{ .need }}</br>
                        {{ end }}
                        <b>What you get:</b> {{ .get }}</br>
                        {{ if .duration }}
                        <b>Duration:</b> {{ .duration }}</br>
                        {{ end }} {{ if .cost }}
                        <b>Cost:</b> {{ .cost }} </br>
                        {{ end }} {{ if .supplier }}
                        <b>Partner:</b> {{ .supplier }}</br>
                        {{ end }}
                    </p>
                </div>
                {{ range .logo }}
                <div class="col-md-5">
                    <img width="" src="{{ .imgurl }}" />
                    <br /> {{ .name }}
                </div>
                {{ end }}
                <div class="col-md-12" style="text-align:right">
                    {{ if .marketresearch }}
                    <a target="_blank" href="{{ $.Site.BaseURL }}{{ .marketresearch }}" class="btn btn-main">BECAME A PARTNER</a> {{ end }}
                    <a href="mailto:info@software.bz.it?subject={{ .name }}&body={{ .mailtext }}" class="btn btn-main">BUY NOW</a>
                </div>
            </div>
            <!-- .col-md-7 close -->

        </div>
        </br>
        {{ end }}
    </div>
</section>