{{/* 
    SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

    SPDX-License-Identifier: AGPL-3.0-or-later 
*/}}


<div class="flex no-space">
    <input required type="checkbox" id="agreement">
    <label for="agreement">{{ T `authorize` }}*</label>
</div>
<div class="font-small no-margin privacy">{{ T `see_privacy` }} <a href="https://noi.bz.it/en/privacy">"Privacy"</a>.</div>
<div class="no-margin">* {{ T `required` }}</div>
<div><a href="https://noi.bz.it/en/services/lab-desk-lab-bonus" target="_blank"><i>{{ T `labbonus` }}</i></a> </div>