<div class="flex no-margin">
    <input required id="name" type="text" name="name" placeholder="{{ T `name` }}*">
    <input required id="surname" type="text" name="surname" placeholder="{{ T `surname` }}*">
</div>
<div class="flex">
    <input id="company" type="text" name="company" placeholder="{{ T `company` }}">
</div>
<div class="flex">
    <input required id="email" type="email" name="email" placeholder="{{ T `email` }}*">
    <input id="phone" type="text" name="phone" placeholder="{{ T `phone` }}">
</div>