<div class="flex no-space">
    <input required type="checkbox" id="agreement">
    <label for="agreement">Yes, I authorize the transmission of my personal details.*</label>
</div>
<div class="font-small no-margin privacy">You hereby declare that the data released by you for the purposes of sending product information, submitting special offers, as well as personal communications, may be used. There will be no passing on the data to third parties. You may revoke your consent
    at any time. For more information see <a href="https://noi.bz.it/privacy-cookie-policy">"Privacy"</a>.</div>
<div class="no-margin">* Required fields</div>