<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ .Title }} - {{.Site.Title}}</title>

    {{ $sass := resources.Get "scss/main.scss" }} {{ $style := $sass | toCSS }}

    <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen" />
    <script src="/js/main.js" type="text/javascript"></script>
    <script src="/js/{{ .Section }}.js" type="text/javascript"></script>

</head>