<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ .Title }} - {{.Site.Title}}</title>

    {{ $sass := resources.Get "scss/main.scss" }} {{ $style := $sass | toCSS }}

    <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen" />
    <!--  <link rel="stylesheet" href="/observatory/observatory.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/testenv/testenv.css" type="text/css" media="screen" />-->
    <script src="/js/main.js" type="text/javascript"></script>

    <script src="/js/{{ .Section }}.js" type="text/javascript"></script>
    {{ template "_internal/google_analytics_async.html" . }}
    
</head>