{{/* 
    SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

    SPDX-License-Identifier: AGPL-3.0-or-later 
*/}}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{ .Title }} - {{.Site.Title}}</title>

    {{ $sass := resources.Get "scss/main.scss" }} {{ $style := $sass | toCSS }}

    <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen" />
    <link
      rel="stylesheet"
      href="https://scripts.opendatahub.testingmachine.eu/cookieconsent/cookieconsent.css"
    />
    <!--  <link rel="stylesheet" href="/observatory/observatory.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/testenv/testenv.css" type="text/css" media="screen" />-->
    <script src="/js/main.js" type="text/javascript"></script>

    <!-- Load hCapctha for trends site, if needed other sites add OR clause to if, if needed globally remove if -->
    {{ if eq .Section "trends"}}
    <script src="https://js.hcaptcha.com/1/api.js?hl=en" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-hcaptcha"></script>
    {{ end }}

    <script src="/js/{{ .Section }}.js" type="text/javascript"></script>
    {{ template "_internal/google_analytics_async.html" . }}

    <!-- Matomo -->
    <script type="text/plain" data-cookiecategory="targeting">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
          var u = "https://digital.matomo.cloud/";
          _paq.push(['setTrackerUrl', u + 'matomo.php']);
          _paq.push(['setSiteId', '3']);
          var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
          g.async = true; g.src = '//cdn.matomo.cloud/digital.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->

    <!-- Matomo Tag Manager -->
    <script type="text/plain" data-cookiecategory="targeting">
      var _mtm = window._mtm = window._mtm || [];
      _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src='https://cdn.matomo.cloud/digital.matomo.cloud/container_ZgrWVRUM.js'; s.parentNode.insertBefore(g,s);
    </script>
    <!-- End Matomo Tag Manager -->
  </head>
</html>
