<form id="book-service">
    {{ partialCached "contact_base_details.html" . }}
    <div class="description">Enter three dates you're available for the course, we will pick the one which also suits for us.</div>
    <div class="flex no-margin">
        <input required type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="date1" placeholder="Available date 1*">
        <input required type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="date2" placeholder="Available date 2*">
        <input required type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="date3" placeholder="Available date 3*" style="margin-top: 25px;">
    </div>
    {{ partialCached "contact_agreement.html" .}}
    <button id="confirm">Book service</button>
    <div id="loading" class="loader"></div>
    <div id="response"></div>
</form>